.gitignore
frontend/node_modules/
.idea

__pycache__

backend\data\upload
backend\data\tasks

backend/data/oringinal_data/
exampleData/

backend\data\raw\example.json
backend\data\merged_data
/TODO.md

clean.bat